@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

// project specific CSS goes here

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.moves-list{
  max-height: 150px;
  overflow-y: scroll;
}

$normal: #ACAD99;
$fighting: #C45D4C;
$flying: #90AAD7;
$poison: #B369AF;
$ground: #CEB250;
$rock: #BAA85E;
$bug: #ACC23E;
$ghost: #816DB6;
$steel: #9FA9AF;
$fire: #E87A3D;
$water: #639CE4;
$grass: #82C95B;
$electric: #E7C536;
$psychic: #E96C95;
$ice: #81CFD7;
$dragon: #8572C8;
$dark: #79726B;
$fairy: #E8B0EB;

.grass{
  background-color: $grass,
}
.poison{
  background-color: $poison,
}
.fire{
  background-color: $fire,
}
.flying{
  background-color: $flying,
}
.water{
  background-color: $water,
}
.bug{
  background-color: $bug,
}
.normal{
  background-color: $normal,
}
.electric{
  background-color: $electric,
}
.ground{
  background-color: $ground,
}
.fairy{
  background-color: $fairy,
}
.fighting{
  background-color: $fighting,
}
.psychic{
  background-color: $psychic,
}
.rock{
  background-color: $rock,
}
.steel{
  background-color: $steel,
}
.ice{
  background-color: $ice,
}
.ghost{
  background-color: $ghost,
}